// Place all the styles related to the flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flights-container {
  text-align: center;

  .button-group {
    margin: 50px;
  }
}

.search-field {
  background: rgba(255,255,255,0.5);
  padding: 3em;
  margin: 30px;
  border-radius: 15px;
}

form {
  margin: 30px;
}

input {
  width: 100%;
}

.selected-container {
  display: flex;
  width: 100%;
  .selected {
    background:rgb(226, 255, 241);
    width: 300px;
    height: 200px;
    margin: 30px;
    padding: 30px;
    margin: 0 auto;
  }
}

#searchResults {
  margin: 30px;
}

.list-group-item {
  background: white;
  border: none;

  .ng-scope {
    background:rgb(96.1%, 96.1%, 96.1%);
  }
  .price {
    background: white;
  }
}


.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: white;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
