#home-container {
    text-align: center;

    .heading {
        padding: 6em;
    }
    h1 {
        color: rgba(255, 255, 255, 1);
        margin: 0;
        padding: 30px;
        font-size: 120px;
        font-family: Baksoda;

    }
    .btn-primary {
        background-color: rgb(95.7%, 64.3%, 37.6%);
    }
}
