#home-container {
    text-align: center;
    background: image-url(purple-airplane-wallpaper-1) no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 50px);
    width: 100vw;
    margin: 0;
    .heading {
        padding: 6em;
    }
    h1 {
        color: rgba(255, 255, 255, 0.8);
        margin: 0;
        padding: 30px;
        font-size: 72px;
    }
    .btn-primary {
        background-color: rgb(95.7%, 64.3%, 37.6%);
    }
}
