#home-container {
    text-align: center;
    background: image-url(purple-airplane-wallpaper-1) no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 50px);
    width: 100vw;
    margin: 0;
    h1 {
        color: white;
        margin: 0;
    }
    .btn-primary {
        background-color: rgb(95.7%, 64.3%, 37.6%);
    }
}
