<div class="flights-container">
    <div ng-if="$ctrl.incomingFlight">{{$ctrl.incomingFlight.duration}}</div>
    <div class="button-group">
        <button class="btn btn-default" ng-click="$ctrl.toggleFlightStatus('oneWay')">One Way</button>
        <button class="btn btn-default" ng-click="$ctrl.toggleFlightStatus('roundTrip')">Roundtrip</button>
    </div>
    <form ng-submit="$ctrl.getFlight()" role="form">
        <h2>Flight Search</h2>
        <br>
        <div class="form-group">
            <label for="">Origin</label>
            <input ng-model="$ctrl.origin">

            <label for="">Destination</label>
            <input ng-model="$ctrl.destination">

            <label for="">Date</label>
            <input ng-model="$ctrl.date">

            <label for="">Max Stops</label>
            <input ng-model="$ctrl.maxStops">

            <label for="">Travelers</label>
            <input ng-model="$ctrl.passengers">

        </div>

        <div class="form-group" ng-show="$ctrl.roundTrip.show">
            <label for="">Return Date</label>
            <input ng-model="$ctrl.roundTrip.date">

        </div>
        <button type="submit" class="btn btn-primary">Search</button>

    </form>
    <div ng-show="$ctrl.selectedFlights.length">
        <h4 ng-repeat="flight in $ctrl.selectedFlights">Duration: {{flight.duration}}, Origin: {{flight.leg[0].origin}}, Destination: {{flight.leg[0].destination}}</h4>
    </div>

    <div>
        <ul class="list-group" ng-repeat="trip in $ctrl.results">
            <li class="list-group-item price">
                Sale Total: {{trip.pricing[0].saleTotal}}
            </li>
            <li class="list-group-item">
                <ul class="list-group">
                    <div ng-hide="$ctrl.roundTrip.showFlights">
                        <li class="list-group-item" ng-repeat="flight in trip.slice[0].segment" ng-click="$ctrl.selectOutgoingFlight(flight)">
                            <p>Flight Duration: {{flight.duration | duration}}</p>
                            <br>
                            <p>Origin: {{flight.leg[0].origin}}</p>
                            <br>
                            <p>Destination: {{flight.leg[0].destination}}</p>
                            <br>
                            <p>Departure Time: {{flight.leg[0].departureTime | date: 'medium'}}</p>
                            <br>
                            <p>Arrival Time: {{flight.leg[0].arrivalTime | date: 'medium'}}</p>
                            <br>
                            <p ng-show="flight.connectionDuration">Layover Duration: {{flight.connectionDuration}} minutes</p>
                        </li>
                    </div>
                    <div ng-show="$ctrl.roundTrip.showFlights">
                        <li class="list-group-item" ng-repeat="flight in trip.slice[1].segment" ng-click="$ctrl.selectIncomingFlight(flight)">
                            <p>Flight Duration: {{flight.duration | duration}}</p>
                            <br>
                            <p>Origin: {{flight.leg[0].origin}}</p>
                            <br>
                            <p>Destination: {{flight.leg[0].destination}}</p>
                            <br>
                            <p>Departure Time: {{flight.leg[0].departureTime | date: 'medium'}}</p>
                            <br>
                            <p>Arrival Time: {{flight.leg[0].arrivalTime | date: 'medium'}}</p>
                            <br>
                            <p ng-show="flight.connectionDuration">Layover Duration: {{flight.connectionDuration}} minutes</p>
                        </li>
                    </div>
                </ul>
            </li>
        </ul>

    </div>











